<footer id="contact" class="footer" style="font-family: 'Motiva Sans', sans-serif;">
  <div class="footer-container">

    <!-- Column 1: Name / Title -->
    <div class="footer-column column-name">
      <p style="font-size: 14px;">SHAWN UPDIKE<span class="highlight">WEB DEVELOPER</span></p>
    </div>

    <!-- Divider 1 (Flexible) -->
    <div class="footer-divider"></div>

    <!-- Column 2: Social Icons -->
    <div class="footer-column column-social">
      <div class="social-icons">
        <a href="https://www.youtube.com/channel/UC4H2Ai8khZ_sWXoKpSJ0zww" target="_blank" class="social-icon" aria-label="Youtube">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="https://www.instagram.com/_historicalatlas/" target="_blank" class="social-icon" aria-label="Instagram">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://github.com/shawnupdike" target="_blank" class="social-icon" aria-label="Github">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/shawn-updike/" target="_blank" class="social-icon" aria-label="LinkedIn">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </div>

    <!-- Divider 2 (Flexible) -->
    <div class="footer-divider"></div>

    <!-- Column 3: Copyright -->
    <div class="footer-column column-copy">
      <p style="font-size: 14px;">ALL RIGHTS RESERVED © 2026</p>
    </div>

  </div>
</footer>
