    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "Shawn Updike Web Developer",
        "url": "https://shawnupdike.github.io"
    }
    </script>
    
    <!-- Basic Meta -->
    <meta charset="UTF-8">
    {% seo %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="google-site-verification" content="hszqV7-9Yj3DGPciWXWS6DozMI_lRfZYofOYNcQ13Lk" />

    <!-- SEO -->
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <link rel="canonical" href="{{ page.canonical | default: site.url }}">

    <!-- Open Graph -->
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:image" content="{{ page.og_image | absolute_url }}">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ page.title | default: site.title }}">
    <meta name="twitter:description" content="{{ page.description | default: site.description }}">
    <meta name="twitter:image" content="{{ page.image | absolute_url }}">
    <meta name="twitter:creator" content="@yourtwitterhandle">

    <!-- Keywords -->
     {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords | join: ', ' }}">
    {% elsif site.keywords %}
    <meta name="keywords" content="{{ site.keywords | join: ', ' }}">
    {% endif %}

    <!-- Favicon -->
    <link rel="icon" href="https://shawnupdike.github.io/img/Site-Favicon-2023-150x150.png" sizes="32x32">
    <link rel="icon" href="https://shawnupdike.github.io/img/Site-Favicon-2023-300x300.png" sizes="192x192">
    <link rel="apple-touch-icon" href="https://shawnupdike.github.io/img/Site-Favicon-2023-300x300.png">
    <meta name="msapplication-TileImage" content="https://shawnupdike.github.io/img/Site-Favicon-2023-300x300.png">

    <!-- Theme Colors -->
    <meta name="theme-color" content="#121212">
    <meta name="msapplication-navbutton-color" content="#1bb0ce">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="stylesheet" href="https://use.typekit.net/dgz3prb.css">

    <!-- CSS Libraries -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/child.css' | relative_url }}">