
<div class="d-none d-lg-block">
<div id="mainNav" class="glass-nav-container" style="padding: 20px;">

  <nav class="glass-navbar border border-2">
    <a href="/" class="nav-logo">
      <img src="/img/Site-Logo-2026-300x212.png" alt="HOME">
    </a>
  </nav>

  <nav class="glass-navbar border border-2">
    <ul class="nav-items">
      <li><a href="/services">SERVICES</a></li>
      <li><a href="/portfolio">PROJECTS</a></li>
      <li><a href="/youtube-channel">YOUTUBE</a></li>
      <li><a href="/about">ABOUT</a></li>
      <li><a href="#connect">CONNECT</a></li>
      <li class="d-block d-md-none"><a href="/img/Shawn Updike Web Developer - Resume 2026.pdf" class="nav-resume" target="_blank">RESUME</a></li>
    </ul>
  </nav>

  <nav class="glass-navbar border border-2 d-none d-xl-block">
    <a href="/img/Shawn Updike Web Developer - Resume 2026.pdf" class="nav-resume" target="_blank">RESUME</a>
  </nav>

</div>

  <!-- Button trigger modal -->
  <button id="scrollNavButton" type="button" class="btn glass-navbar border border-2"
          data-bs-toggle="modal" data-bs-target="#exampleModal2"
          style="position: fixed; top: 55px; left: 50%; transform: translateX(-50%); z-index: 9999;">
    <img src="/img/Site-Logo-2026-300x212.png" alt="HOME" style="max-width: 100px;padding: 15px;">
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div style="color: white !important;" class="modal-content glass-navbar border border-2 text-center">
        <div class="modal-header">
          <h3 class="modal-title fs-5" id="exampleModalLabel">Menu</h3>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
              <a href="/"><h3><span class="badge rounded-pill fw-bold" style="background-color:#00f5a3; color:#121212;">HOME</span></h3></a>
              <a href="/services"><h3><span class="badge rounded-pill fw-bold" style="background-color:#00f5a3; color:#121212;">SERVICES</span></h3></a>
              <a href="/portfolio"><h3><span class="badge rounded-pill fw-bold" style="background-color:#00f5a3; color:#121212;">PROJECTS</span></h3></a>
              <a href="/youtube-channel"><h3><span class="badge rounded-pill fw-bold" style="background-color:#00f5a3; color:#121212;">YOUTUBE</span></h3></a>
              <a href="/about"><h3><span class="badge rounded-pill fw-bold" style="background-color:#00f5a3; color:#121212;">ABOUT</span></h3></a>
              <a href="#connect"><h3><span class="badge rounded-pill fw-bold" style="background-color:#00f5a3; color:#121212;">CONNECT</span></h3></a>
              <a href="/img/Shawn Updike Web Developer - Resume 2026.pdf" target="_blank"><h3><span class="badge rounded-pill fw-bold" style="background-color:#00f5a3; color:#121212;">RESUME</span></h3></a>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="d-block d-lg-none position-relative">

  <!-- Button trigger modal -->
  <button type="button" class="btn glass-navbar border border-2"
          data-bs-toggle="modal" data-bs-target="#exampleModal"
          style="position: fixed; top: 55px; left: 50%; transform: translateX(-50%); z-index: 9999;">
    <img src="/img/Site-Logo-2026-300x212.png" alt="HOME" style="max-width: 100px;padding: 15px;">
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div style="color: white !important;" class="modal-content glass-navbar border border-2 text-center">
        <div class="modal-header">
          <h3 class="modal-title fs-5" id="exampleModalLabel">Menu</h3>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
              <a href="/"><h3><span class="badge rounded-pill fw-bold" style="background-color:#00f5a3; color:#121212;">HOME</span></h3></a>
              <a href="/services"><h3><span class="badge rounded-pill fw-bold" style="background-color:#00f5a3; color:#121212;">SERVICES</span></h3></a>
              <a href="/portfolio"><h3><span class="badge rounded-pill fw-bold" style="background-color:#00f5a3; color:#121212;">PROJECTS</span></h3></a>
              <a href="/youtube-channel"><h3><span class="badge rounded-pill fw-bold" style="background-color:#00f5a3; color:#121212;">YOUTUBE</span></h3></a>
              <a href="/about"><h3><span class="badge rounded-pill fw-bold" style="background-color:#00f5a3; color:#121212;">ABOUT</span></h3></a>
              <a href="#connect"><h3><span class="badge rounded-pill fw-bold" style="background-color:#00f5a3; color:#121212;">CONNECT</span></h3></a>
              <a href="/img/Shawn Updike Web Developer - Resume 2026.pdf" target="_blank"><h3><span class="badge rounded-pill fw-bold" style="background-color:#00f5a3; color:#121212;">RESUME</span></h3></a>
        </div>
      </div>
    </div>
  </div>

</div>